In [ ]:
#--1.List the following details of each employee: 
#--employee number, last name, first name, sex, and salary.

select last_name, first_name, sex, salary
from employees
inner join salaries
on employees.emp_no = salaries.emp_no;

In [ ]:
#--2.List first name, last name, and hire date
#--for employees who were hired in 1986.

select first_name, last_name, hire_date 
from employees 
#--where hire_date <('01-01-1987') and hire_date > ('12-31-1985');
where hire_date between ('01-01-1986') and ('12-31-1986');

In [ ]:
#--3.List the manager of each department with the following information:
#--department number, department name, the manager's employee number, last name, first name.

select departments.dept_no, departments.dept_name, dept_manager.emp_no, employees.last_name, employees.first_name
from departments
join dept_manager
on departments.dept_no = dept_manager.dept_no
join employees
on dept_manager.emp_no = employees.emp_no;

In [ ]:
#--4.List first name, last name, and sex for employees whose
#--first name is "Hercules" and last names begin with "B."
select first_name, last_name, sex
from employees
where first_name = 'Hercules' and last_name like 'B%'

In [ ]:
#--5.List first name, last name, and sex for employees whose
#--first name is "Hercules" and last names begin with "B."

select first_name, last_name, sex
from employees
where first_name = 'Hercules' and last_name like 'B%'

In [ ]:
#--6.List all employees in the Sales department, including their
#--employee number, last name, first name, and department name.

select dept_emp.emp_no, employees.last_name, employees.first_name, departments.dept_name
from dept_emp
join employees
on dept_emp.emp_no = employees.emp_no
join departments
on dept_emp.dept_no = departments.dept_no
where departments.dept_name = 'Sales';

In [ ]:
#--7.List all employees in the Sales and Development departments, including 
#--their employee number, last name, first name, and department name.

select dept_emp.emp_no, employees.last_name, employees.first_name, departments.dept_name
from dept_emp 
join employees
on dept_emp.emp_no = employees.emp_no
join departments
on dept_emp.dept_no = departments.dept_no
where departments.dept_name = 'Sales'
or departments.dept_name = 'Development';

In [ ]:
#--8. In descending order, list the frequency count of employee 
#--last names,i.e., how many employees share each last name.

select last_name, COUNT(last_name)as frequency
from employees
group by last_name
order by COUNT(last_name) desc;